/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
  /* Gradien "Deep Space" */
  font-family: 'Exo 2', sans-serif;
  background-color: #000;
  background-image: linear-gradient(
      145deg,
      hsl(265deg 39% 10%) 0%,
      hsl(246deg 45% 9%) 41%,
      hsl(233deg 44% 7%) 71%,
      hsl(222deg 42% 6%) 100%
    );
  background-attachment: fixed;
  color: #e5e7eb; /* Default text color (light gray) */
  overflow-x: hidden; /* Mencegah horizontal scroll dari bintang */
}